body{
    background: #fff;
}
.wrap{
    width: 320px;
    margin: 0 auto;
}
/* 登录标题 */
.title{
    width: 100;
    height: 44px;
    line-height: 44px;
    font-size: 17px;
    color: #616161;
    text-align: center;
    border-bottom: 1px solid #bbb;
    background: #f9f9f9;
    position: relative;
}
.title span{
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 12px;
    left: 12px;
    background: url(../image/land.png) no-repeat;
    background-position: 0px -62px;
    background-size: 100% auto;
}
/* 登陆方式选择 */
.tabs{
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    border-bottom: 1px solid #d7d7d7;
    position: relative;
    margin-bottom: 126px;
}
.tabs>div{
    width: 50%;
    float: left;
    text-align: center;
}
.tabs .tab1 .tab1-alert{
    width: 280px;
    height: 96px;
    position: absolute;
    top: 44px;
    left: 20px;
} 
.tabs .text{
    height: 47px;
    border-bottom: 1px solid #d7d7d7;
} 
.tabs .tab1,tab2{
    display: block;
}
.tabs .text-name{
    width: 60px;
    line-height: 47px;
    text-align: left;
    font-size: 14px;
} 
.tabs .tab1 .tab1-alert .text{
    position: relative;
}
.tabs .tab1 .tab1-alert .text .eye{
    position: absolute;
    top:12px;
    right: 0;
    width: 30px;
    height: 18px;
    background: url(../image/land2.png) no-repeat;
    background-size: 100%;
}
.tabs .tab1 .tab1-alert .text input{
    float: left;
    width: 216px;
    margin-top: 12px;
    outline: none;
}
.tabs .tab2 .tab2-alert{
    width: 280px;
    height: 96px;
    position: absolute;
    top: 45px;
    left: 20px;
    display: none;
    background: #fff;
} 
.tabs .tab2 .tab2-alert .text-name{
    text-align: right;
    padding-right: 15px;
    width: 47px;
    outline: none;
    position: relative;  
} 
.tabs .tab2 .tab2-alert .text-name .drop{
    width: 0;
    height: 0;
    border-top: 5px solid #ababab;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 20px;
    right:2px;
} 
.tabs .tab2 .tab2-alert .text-input1{
    width: 80px;
    margin-top: 12px; 
} 
.tabs .tab2 .tab2-alert .btn{
    width: 118px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    border-left: 1px solid #d7d7d7;
    margin: 12px 0 0 12px;
} 
.tabs .tab2 .tab2-alert .text-input2{
    width: 271px;
    outline: none;
    padding-left:5px; 
} 
.tabs .tab-btn1{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
}
.tabs .tab-btn1:checked~.tab1-alert{
    display: block;
}
.tabs .tab-btn2{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    opacity: 0;
}
.tabs .tab-btn2:checked+.tab2-alert{
    display: block;
}
/* 按钮及ICON */
.content{
    width: 280px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.content .land{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #eee;
    color:#848689;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 2px;
}
.content .one-land{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #fff;
    color:#f23030;
    font-size: 14px;
    border: 1px solid #f23030;
}
.content .quick{
    width: 100%;
    height: 22px;
    line-height: 22px;
    margin-top: 20px;
    font-size: 12px;
    color: #333;
}
.content .quick span{
    float: left;
    width: 22px;
    height: 22px;
    background: url(../image/land.png) no-repeat;
    background-size: 100% auto;
    margin-right: 3px;
}
.content .quick .span1{
    background-position: 0 -23px;
}
.content .quick .span2{
    background-position: 0 -42px;
}
.content .other{
    border-top: 1px solid #d7d7d7;
    margin-top: 104px;
    position: relative;
    padding: 40px 80px 0;
    height: 70px;
}
.content .other .other-text{
    width: 114px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    position: absolute;
    top: -15px;
    left: 83px;
    background: #fff;
}
.content .other .icon{
    display: block;
    width: 22px;
    height: 22px;
    background: url(../image/land.png) no-repeat;
    background-size: 100% auto;
}
.content .other .icon1{
    background-position: 0 -129px;
}
.content .other .icon2{
    background-position: 0 -155px;
}
.content .privacy{
    width: 100%;
    height: 21px;
    line-height: 21px;
    text-align: center;
    color: #333;
    font-size: 14px;
}
.content .privacy a{
    text-decoration: underline;
}